<template>
    <div class="box">
        <div v-for="donation in donations" :key="donation.organization.id">
            <strong>{{ donation.organization.name }}</strong>: {{ donation.amount }}€
        </div>
        <div class="total">
            <strong>Total: {{ sumDonation }}€</strong>
        </div>
    </div>
</template>

<script>
export default {
  name: 'DonationRecap',
  computed: {
    donations () {
      return this.$store.state.currentDonations
    },
    sumDonation () {
      return this.$store.state.currentDonations.reduce(function (acc, cur) {
        return acc + cur.amount
      }, 0)
    }
  }
}
</script>

<style scoped>
.total {
    border-top: solid 1px lightgrey;
    margin-top: 1rem;
    padding-top: 1rem;
}
</style>
