<template>
    <nav class="navbar has-shadow is-transparent">
        <div class="container">
            <div class="navbar-brand">
                <router-link :to="{ name: 'homepage' }" class="navbar-item">
                    <img src="../assets/img/logo.svg">
                </router-link>
            </div>
            <div class="navbar-menu is-active">
                <div class="navbar-end">
                    <div class="navbar-item">
                        <router-link :to="{ name: 'donationSelector' }" class="button is-gradient">
                            <span>
                                <span><font-awesome-icon icon="hand-holding-heart" /> Soutenir une cause</span>
                            </span>
                        </router-link>
                    </div>
                    <a href="" class="navbar-item is-hidden-mobile ">Vous êtes une association?</a>
                    <a v-if="!$store.state.user.jwt" class="navbar-item is-hidden-mobile" v-on:click="toggleConnectionModal">Connexion</a>
                    <router-link :to="{ name: 'myDonations' }" v-else class="navbar-item is-hidden-mobile">Mon Profil</router-link>
                </div>
            </div>
        </div>
    </nav>
</template>

<script>
export default {
  name: 'Navbar',
  props: ['toggleConnectionModal']
}
</script>

<style scoped>
.navbar .container {
    padding: 0.5rem 1.5rem;
}
</style>
