<template>
    <div class="box">
    <form @submit="submitPayment">
        <div class="field">
            <p class="control has-icons-left">
                <span class="select is-fullwidth">
                <select required="required">
                    <option selected>Mastercard</option>
                    <option>Visa</option>
                    <option>CB</option>
                </select>
                </span>
                <span class="icon is-small is-left">
                    <font-awesome-icon icon="credit-card" />
                </span>
            </p>
        </div>
        <div class="field">
            <label class="label">Numéro de carte</label>
            <div class="control">
                <input required="required" class="input" type="text" maxlength="16">
            </div>
        </div>
        <div class="field">
            <label class="label">Date expiration</label>
            <div class="columns">
                <div class="column">
                    <p class="control">
                        <span class="select is-fullwidth">
                            <select required="required">
                                <option selected disabled>----</option>
                                <option>Janvier</option>
                                <option>Fevrier</option>
                                <option>Mars</option>
                                <option>Avril</option>
                                <option>Mai</option>
                                <option>Juin</option>
                                <option>Juillet</option>
                                <option>Aout</option>
                                <option>Septembre</option>
                                <option>Novembre</option>
                                <option>Decembre</option>
                            </select>
                        </span>
                    </p>
                </div>
                <div class="column">
                    <p class="control">
                        <span class="select is-fullwidth">
                            <select required="required">
                                <option selected disabled>----</option>
                                <option>2018</option>
                                <option>2019</option>
                                <option>2020</option>
                                <option>2021</option>
                            </select>
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="field">
            <label class="label">Cryptograme</label>
            <div class="control">
                <input required="required" class="input" type="text" maxlength="3">
            </div>
        </div>
        <button v-bind:disabled="isLogged" type="submit" class="button is-primary is-fullwidth"><font-awesome-icon icon="heart" /> <strong>Je donne</strong></button>
    </form>
    <div class="modal" v-bind:class="{'is-active': showSuccess}">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <router-link :to="{ name: 'homepage' }">
                    <font-awesome-icon icon="thumbs-up" /> Merci de votre soutien
                </router-link>
            </div>
        </div>
    </div>
    </div>
</template>

<script>
import constants from '@/constants'

export default {
  name: 'Payment',
  computed: {
    donations () {
      return this.$store.state.currentDonations
    },
    sumDonation () {
      return this.$store.state.currentDonations.reduce(function (acc, cur) {
        return acc + cur.amount
      }, 0)
    },
    isLogged () {
      return this.$store.state.user.jwt === null
    }
  },
  created: function () {
    if (this.donations.length === 0) {
      this.$router.push('/faire-un-don')
    }
  },
  data: function () {
    return {
      showSuccess: false
    }
  },
  methods: {
    submitPayment: function (e) {
      e.preventDefault()
      let _this = this
      let donations = _this.$store.state.currentDonations
      let data = {
        donations: donations.map(function (donation) {
          return {
            amount: donation.amount,
            'type': 'org',
            receiver: donation.organization.id
          }
        })
      }
      console.log(data)
      fetch(constants.backend_url + 'donations', {
        method: 'POST',
        body: JSON.stringify(data),
        headers: {
          'Content-Type': 'application/json',
          'Authorization': 'Bearer ' + _this.$store.state.user.jwt
        }
      })
        .then(function (response) {
          if (response.status < 200 || response.status >= 300) {
            return
          }
          response.json().then(function (data) {
            console.log(data)
            _this.showSuccess = true
            _this.$store.commit('emptyDonations')
          })
        })
        .catch(function (err) {
          console.log('Fetch Error :-S', err)
        })
    }
  }
}
</script>

<style scoped>

.button strong {
    padding-left: 0.5rem;
}

.total {
    border-top: solid 1px lightgrey;
    margin-top: 2rem;
    padding-top: 1rem;
}

.fieldlabel {
    font-weight: bold;
    margin-bottom: 0.5rem;
}
.modal .box {
    text-align: center;
}
</style>
