@charset "utf-8";

// Bulma's Colors
$green: #23e478;
$blue: #4dc1f8;

// Bulma's Global Colors var
$primary: $green;
$secondary: $blue;
$link: $green;

// Bulma's fonts
$family-primary: 'Raleway', sans-serif;

// Bulma's component variables
// Navbar
$navbar-breakpoint: 0;
$navbar-item-img-max-height: 2rem;
$navbar-box-shadow-size: 0 2px 5px;
$navbar-box-shadow-color: rgba(88,92,110,.1);

// Forms
$label-weight: normal;

// Box
$box-shadow: $navbar-box-shadow-size $navbar-box-shadow-color;

// Title
$title-size: 3rem;
$title-line-height: 1.5;
$title-weight: normal;

// In production only parts of bulma should be imported
// see: https://bulma.io/documentation/customize/with-webpack/
@import "~bulma/bulma";

html {
    background: rgb(244, 246, 255);
}

::selection, ::-moz-selection {
  background: $primary;
  color: white;
}

// Gradient button

.button.is-gradient {
    border: none;
	  background-image: linear-gradient(to right, $primary 0%, $secondary 100%);
    box-sizing: border-box;
    color: $primary;
	  position: relative;
    z-index: 2;
    padding: 2px;
}

.button.is-gradient:hover {
    color: #fff;
}

.button.is-gradient > span {
    padding: 0 1rem;
    background: #fff;
    border-radius: 2px;
    display: flex;
    transition: background .5s ease;
    height: 100%;
    width: 100%;
}

.button.is-gradient:hover > span {
    background: transparent;
}

.button.is-gradient > span > * {
    margin: auto;
}



// input

.input {
    border: none;
    box-shadow: none;
    border-bottom: solid 1px;
    border-radius: 0;
    border-color: $grey-lighter;
    text-align: right;
}

.input:focus {
    box-shadow: none;
    border-color: $primary;
}

.field:not(:last-child), .field:last-child {
    margin-bottom: 1.5rem;
}

// Highlight
.highlight, .title .highlight {
    font-weight: 600;
    position: relative;
}

.highlight::before {
    content: "";
    position: absolute;
    height: 16px;
    width: 100%;
    background-color: $primary;
    bottom: 5px;
    z-index: -1;
}
