<template>
  <form class="box"
        @submit="signup">
    <div class="field">
      <label class="label">Nom</label>
      <div class="control">
        <input v-model="lastname" required="required" class="input" type="text" placeholder="John">
      </div>
    </div>
    <div class="field">
      <label class="label">Prénom</label>
      <div class="control">
        <input v-model="firstname" required="required" class="input" type="text" placeholder="Doe">
      </div>
    </div>
    <div class="field">
      <label class="label">Adresse mél</label>
      <div class="control has-icons-left">
        <input v-model="email" required="required" class="input" type="email" placeholder="john.doe@email.com" value="">
        <span class="icon is-small is-left">
          <font-awesome-icon icon="envelope" />
        </span>
      </div>
    </div>
    <div class="field">
      <label class="label">Téléphone</label>
      <div class="control">
        <input v-model="phone" required="required" class="input" type="text">
      </div>
    </div>
    <div class="field">
      <label class="label">Mot de passe</label>
      <div class="control">
        <input v-model="password" class="input" type="password" value="">
      </div>
    </div>
    <div class="field">
      <label class="label">Adresse</label>
      <div class="control has-icons-left">
        <input v-model="adress" required="required" class="input" type="text" placeholder="8 rue de la Générosité" value="">
        <span class="icon is-small is-left">
          <font-awesome-icon icon="home" />
        </span>
      </div>
    </div>
    <div class="field">
      <label class="label">Complément d'adresse</label>
      <div class="control has-icons-left">
        <input v-model="addressAddition" required="required" class="input" type="text" placeholder="Appartement, Etage..." value="">
      </div>
    </div>
    <div class="field">
      <label class="label">Code postal</label>
      <div class="control has-icons-left">
        <input v-model="zipCode" required="required" class="input" type="text" placeholder="" value="">
      </div>
    </div>
    <div class="field">
      <label class="label">Ville</label>
      <div class="control has-icons-left">
        <input v-model="city" required="required" class="input" type="text" placeholder="" value="">
        <span class="icon is-small is-left">
          <font-awesome-icon icon="city" />
        </span>
      </div>
    </div>
    <div class="field">
      <label class="label">Pays</label>
      <div class="control">
        <div class="select  is-fullwidth">
          <select v-model="country" required="required">
            <option value="France">France</option>
          </select>
        </div>
      </div>
    </div>
    <button type="submit" class="button is-primary is-fullwidth"><strong>Créer mon compte</strong></button>
  </form>
</template>

<script>
import constants from '@/constants'

export default {
  name: 'SignupForm',
  data: function () {
    return {
      firstname: '',
      lastname: '',
      email: '',
      adress: '',
      addressAddition: '',
      zipCode: '',
      city: '',
      country: '',
      phone: '',
      password: ''
    }
  },
  methods: {
    signup: function (e) {
      e.preventDefault()
      let _this = this
      let data = {
        'firstname': _this.firstname,
        'lastname': _this.lastname,
        'email': _this.email,
        'adress': _this.adress,
        'addressAddition': _this.addressAddition,
        'zipCode': _this.zipCode,
        'city': _this.city,
        'country': _this.country,
        'phone': _this.phone,
        'password': _this.password
      }
      fetch(constants.backend_url + 'users', {
        method: 'POST',
        body: JSON.stringify(data),
        headers: {
          'Content-Type': 'application/json'
        }
      })
        .then(function (response) {
          if (response.status < 200 || response.status >= 300) {
            return
          }
          response.json().then(function (data) {
            _this.$store.commit('setUserToken', data.user.token)
          })
        })
        .catch(function (err) {
          console.log('Fetch Error :-S', err)
        })
    }
  }
}
</script>

<style scoped>
</style>
