<template>
    <div class="container">
        <section class="hero">
            <div class="hero-body">
                <h1 class="title">
                    Faire un don pour
                    <span class="rotate-text" >
                        <span class="highlight" v-bind:class="[index ==  currentThemeIdx? 'is-active' : '']" v-for="(theme, index) in themes" :key="`theme-${index}`">
                            {{ theme }}</span>
                    </span>
                </h1>
                <h2 class="subtitle">Avec un don, je soutiens plusieurs causes</h2>
            </div>
        </section>
        <div class="columns">
            <router-link :to="{ name: 'donationSelector' }" class="button is-primary cta">
                <strong><font-awesome-icon icon="hand-holding-heart" /> Je donne</strong>
            </router-link>
        </div>
        <div class="carroussel">
            <div class="col" v-for="org in organizations" :key="org.id">
                <div class="box">
                    <img class="image" v-bind:src="org.logo" />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import constants from '@/constants'

export default {
  name: 'Homepage',
  data: function () {
    return {
      currentThemeIdx: 0,
      themes: ['l\'environnement', 'la santé', 'l\'éducation', 'les gilets jaunes'],
      organizations: []
    }
  },
  methods: {
    rotateTheme: function () {
      this.currentThemeIdx = (this.currentThemeIdx + 1) % this.themes.length
    },
    fetchOrganizations () {
      let _this = this
      fetch(constants.backend_url + 'organizations')
        .then(function (response) {
          if (response.status !== 200) {
            return
          }
          response.json().then(function (data) {
            _this.organizations = data.organizations.slice(0, 5)
          })
        })
        .catch(function (err) {
          console.log('Fetch Error :-S', err)
        })
    }
  },
  mounted: function () {
    setInterval(this.rotateTheme.bind(this), 2500)
  },
  created () {
    this.fetchOrganizations()
  }
}
</script>

<style scoped>
.hero {
    text-align: center;
    margin-top: 2rem;
}

.subtitle {
    font-size: 1.5rem;
    font-weight: bold;
    color: hsl(0, 0%, 48%);
}

.rotate-text {
    position: relative;
}

.rotate-text > * {
    opacity: 0;
    position: absolute;
}

.rotate-text > *.is-active {
    opacity: 1;
    position: relative;
    transition: opacity 0.5s linear;
}

.cta {
    font-size: 2rem;
    display: inline-block;
    margin: auto;
}

.carroussel img {
    max-height: 8rem;
    max-width: 12rem;
    margin: auto;
}

.carroussel {
    display: flex;
    flex-direction: row;
    margin-top: 4rem;
}

.carroussel .col {
    margin: auto;
    padding: 1rem;
}
</style>
