<template>
  <div id="my-donations" class="container section">
    <div class="columns">
      <div class="column">
        <div class="loading" v-if="loading">
            <div class="box">
              Chargement des dons
            </div>
        </div>

        <div v-if="error">
          {{ error }}
        </div>

        <div v-if="donations">
          <div class="box" v-for="don in donations"
                    :key="don.id"
                    v-bind:content="don" >
            <div class="columns board">
                <div class="column">
                    <div>
                        <img class="image" v-bind:src="don.receiver.logo" />
                    </div>
                </div>
                <div class="column">
                    <div>
                        <strong>{{don.receiver.name}}</strong>&nbsp; le {{new Date(don.date).toLocaleDateString('fr-FR')}}
                    </div>
                </div>
                <div class="column">
                    <div>
                        {{ don.amount }}€
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import constants from '@/constants'

export default {
  name: 'MyDonations',
  data () {
    return {
      donations: null
    }
  },
  created () {
    this.fetchDonations()
  },
  methods: {
    fetchDonations () {
      this.error = this.post = null
      this.loading = true
      let _this = this
      fetch(constants.backend_url + 'donations', {
        headers: {
          'Authorization': 'Bearer ' + _this.$store.state.user.jwt
        }
      }).then(function (response) {
        _this.loading = false
        if (response.status !== 200) {
          _this.error = 'Erreur de chargement'
        }
        response.json().then(function (data) {
          _this.donations = data.donations
        })
      }).catch(function (err) {
        console.log('Fetch Error :-S', err)
        _this.error = err
        _this.loading = false
      })
    }
  }
}
</script>

<style scoped>
.board {
    text-align: center;
}

.board img {
    max-width: 8rem;
    max-height: 3rem;
}

.board .column {
    display: flex;
    padding: 0;
}

.board .column > * {
    margin: auto;
}
</style>
