<template>
  <div id="app">
    <Navbar v-bind:toggleConnectionModal="toggleConnectionModal"/>
    <router-view />
    <Login v-bind:class="{'is-active': displayConnectionModal}" v-bind:toggleConnectionModal="toggleConnectionModal"/>
  </div>
</template>

<script>
import Navbar from '@/components/Navbar'
import Login from '@/components/User/Login'

export default {
  name: 'App',
  components: {
    'Navbar': Navbar,
    'Login': Login
  },
  data: function () {
    return {
      displayConnectionModal: false
    }
  },
  methods: {
    toggleConnectionModal: function (event) {
      event.preventDefault()
      this.displayConnectionModal = !this.displayConnectionModal
    }
  }
}
</script>

<style>
</style>
