<template>
    <div class="box">
        <div class="columns">
          <div class="column" >
            <img class="image" v-bind:src="content.logo" />
          </div>
          <h2 class="column subtitle">{{ content.name }}</h2>
        </div>
        <p class="content">{{ content.description }}</p>
        <button class="button is-primary" v-on:click="buttonClicked">Ajouter à mes donations</button>
    </div>
</template>

<script>

export default {
  name: 'WideCard',
  props: ['content'],
  methods: {
    buttonClicked: function () {
      this.$store.commit('setDonation', {
        amount: 10,
        organization: this.content
      })
    }
  }
}
</script>

<style scoped>
.subtitle {
  margin: auto;
}
.image {
  max-height: 6rem;
  width: auto;
  margin: auto;
}
.button {
  margin: auto;
  display: block;
}
</style>
