<template>
    <div class="is-sticky box">
        <OrganizationInput v-for="donation in donations"
          v-bind:donation="donation"
          :key="donation.receiver + donation.type"/>
        <router-link :to="{ name: 'checkout' }" class="button is-primary is-fullwidth" v-bind:disabled="sumDonation == 0">
            <span>
                <span><font-awesome-icon icon="hand-holding-heart" /> Je donne {{ sumDonation }}€</span>
            </span>
        </router-link>
    </div>
</template>

<script>
import OrganizationInput from './OrganizationInput'

export default {
  name: 'DonationSelectorForm',
  props: ['organizations'],
  components: {
    'OrganizationInput': OrganizationInput
  },
  computed: {
    donations () {
      return this.$store.state.currentDonations
    },
    sumDonation () {
      return this.$store.state.currentDonations.reduce(function (acc, cur) {
        return acc + cur.amount
      }, 0)
    }
  }
}
</script>

<style scoped>
.is-sticky {
  position: sticky;
  top: 2rem;
}

button[type="submit"] {
  margin-top: 2rem;
}
</style>
